@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
$primary-color: #f2edb5;

body{
    background-color: #18181a;
}
.skip {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.wrap-contents {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1080px;
}
.section-class--main {
    position: relative;
    height: 100%;
    background: {
        image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/class/bg-main-back-220919.jpg);
        repeat: no-repeat;
        position: 50% 0;
    }
}
@-webkit-keyframes classPageEnter {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.bg-main {
    width: 100%;
    height: 1080px;
    background: {
        image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/class/bg-main-220919.jpg);
        repeat: no-repeat;
        position: 50% 0;
    }
    -webkit-animation-name: classPageEnter;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(.44, .01, .24, 1);
    animation-name: classPageEnter;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.44, .01, .24, 1);
}
.bg-effect {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: .7;
    background-color: rgba(244, 241, 238, .8);
    box-shadow: 0 0 0 0 rgb(219, 216, 210 / 80%);
}
.class__list {
    .class-main__link {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 81px;
        &::after {
            position: absolute;
            top: 34px;
            width: 0;
            height: 1px;
            background: $primary-color;
            transition: .3s;
            opacity: 0;
            content: "";
        }
        &:hover {
            &::after {
                width: 86px;
                opacity: 1;
            }
            .icon-detail {
                &::before {
                    opacity: 1;
                }
                &::after {
                    transform: rotate(0deg);
                    opacity: 1;
                    transition: .5s .15s;
                }
            }
            .text-class, .text-class--char {
                opacity: 1;
                transform: translateY(0);
                transition: .4s .15s;
            }
        }
        .icon-detail {
            display: block;
            position: relative;
            width: 81px;
            height: 81px;
            background: {
                image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/btn-detail.png);
                repeat: no-repeat;
            }
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: {
                    image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/btn-detail-on.png);
                    repeat: no-repeat;
                }
                transition: opacity .3s;
                opacity: 0;
                content: "";
            }
            &::after {
                position: absolute;
                top: 22px;
                left: 29px;
                width: 24px;
                height: 24px;
                background: {
                    image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/btn-detail-icon.png);
                    repeat: no-repeat;
                }
                transform: rotate(180deg);
                opacity: 0;
                content: "";
            }
        }
        .text-class {
            position: absolute;
            top: 11px;
            width: 86px;
            color: $primary-color;
            font: {
                size: 15px;
                weight: 400;
            }
            line-height: 22px;
            text-align: center;
            opacity: 0;
            transform: translateY(10px);
        }
        .text-class--char {
            position: absolute;
            bottom: 17px;
            width: 86px;
            color: $primary-color;
            font: {
                size: 23px;
                weight: 400;
            }
            line-height: 30px;
            text-align: center;
            opacity: 0;
            transform: translateY(-10px);
        }
        &[data-class] {
            &::after, .text-class, .text-class--char {
                left: 68px;
            }
        }
        &[data-class="sorceress"] {
            margin: -192px 0 0 -561px;
        }
        &[data-class="maiden"] {
            margin: -94px 0 0 -363px;
        }
        &[data-class="warrior"] {
            margin: -263px 0 0 172px;
        }
        &[data-class="rogue"] {
            margin: -186px 0 0 314px;
        }
        &[data-class="priest"] {
            margin: -117px 0 0 543px;
        }
    }
}
.section-class-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background-color: #000;
    opacity: 0;
    transition: opacity .5s, transform .1s .5s;
    transform: scale(1.2);
    z-index: -1;
    &.section-class-detail--open {
        opacity: 1;
        transition: .5s;
        transform: scale(1);
        z-index: 1;
    }
    $character: sorceress, maiden, warrior, rogue, priest;

    @each $character in $character {
        //   .#{$character} {

        //   }
        &[data-selected-class=#{$character}] {
            .class-detail__visual .class-detail__bg {
                margin-left: -1280px;
            }
            .class-detail__image .class-detail__char--#{$character} {
                opacity: 1;
                z-index: 10;
            }
            .class-detail__panel .class-detail__info--#{$character} {
                opacity: 1;
                z-index: 10;
                .character-sel__list {
                    background: {
                        image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/class/tab-#{$character}.png);
                        repeat: no-repeat;
                    }
                }
            }
            .class-select__link[data-tab-class=#{$character}]>span {
                opacity: 1;
            }
            &[data-selected-character="1"] {
                .class-detail__char--#{$character} .img-char--01 {
                    transform: translateX(0);
                    opacity: 1;
                    z-index: 10;
                }
                .class-detail__panel .class-detail__info--#{$character} .class-detail__cont--01 {
                    opacity: 1;
                    z-index: 10;
                }
            }
            &[data-selected-character="2"] {
                .class-detail__char--#{$character} .img-char--02 {
                    transform: translateX(0);
                    opacity: 1;
                    z-index: 10;
                }
                .class-detail__panel .class-detail__info--#{$character} .class-detail__cont--02 {
                    opacity: 1;
                    z-index: 10;
                }
                .character-sel__list {
                    background-position-y: 100%;
                }
            }
        }
    }
    .class-detail__nav {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 88px;
        height: 444px;
        margin: -383px 0 0 532px;
        z-index: 20;
        &>li {
            margin-bottom: 1px;
        }
        .class-select__link,
        .class-select__link>span {
            display: block;
            background: {
                image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/class/nav-class-220919.png);
                repeat: no-repeat;
            }
        }
        .class-select__link {
            width: 88px;
            height: 88px;
            &[data-tab-class=sorceress],
            &[data-tab-class=sorceress]>span {
                background-position-y: 0;
            }
            &[data-tab-class=maiden],
            &[data-tab-class=maiden]>span {
                background-position-y: -89px;
            }
            &[data-tab-class=worrior],
            &[data-tab-class=worrior]>span {
                background-position-y: -178px;
            }
            &[data-tab-class=rogue],
            &[data-tab-class=rogue]>span {
                background-position-y: -267px;
            }
            &[data-tab-class=priest],
            &[data-tab-class=priest]>span {
                background-position-y: -356px;
            }
            &[data-tab-class=main],
            &[data-tab-class=main]>span {
                background-position-y: -445px;
            }
        }
        .class-select__link>span {
            width: 100%;
            height: 100%;
            background-position-x: 100%;
            opacity: 0;
            transition: opacity .4s;
        }
    }
    .class-detail__visual {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .class-detail__bg {
            position: absolute;
            top: 0;
            left: 50%;
            width: 3030px;
            height: 1080px;
            margin-left: -1280px;
            background: {
                image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/class/bg-detail-220919.jpg);
                position: 0 0;
                repeat: no-repeat;
            }
            opacity: 1;
            transition: margin .5s;
        }
    }
    .class-detail__image {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1005px;
        height: 1080px;
        margin-left: -385px;
        .class-detail__char {
            position: relative;
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 1005px;
                height: 1080px;
                opacity: 0;
                transform: translateX(-100px);
                transition: .5s;
            }
        }
    }
    .class-detail__panel {
        position: absolute;
        top: 96px;
        left: 50%;
        width: 474px;
        margin-left: -620px;
        .class-detail__info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: .5s;
        }
        .class-detail__tab {
            overflow: hidden;
            width: 470px;
            .character-sel__list {
                display: flex;
                li {
                    width: 50%;
                    height: 43px;
                    .character-sel__link {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .class-detail__cont {
            position: absolute;
            top: 85px;
            left: 0;
            opacity: 0;
            transition: opacity .6s;
            img {
                display: block;
            }
            .info-title {
                margin-bottom: 37px;
            }
            .info-vod__link {
                position: relative;
                display: block;
                &:hover::after {
                    opacity: 1;
                }
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 470px;
                    height: 296px;
                    background: {
                        image: url(https://t1.kakaocdn.net/gamepub/ui-contents/service/odin/home/pc/v1/images/game/class/img-vod-over.png);
                        repeat: no-repeat;
                    }
                    transition: opacity .4s;
                    opacity: 0;
                    content: '';
                }
            }
        }
    }
}